.bordenav2{
    border-bottom: 2px solid black;
}
.ubicacion5{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .marg{
        margin-bottom: 20px;
    }
}

